@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.bg-myRed{
    background: linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
    position: relative;
}


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(90deg, hsla(4, 48%, 94%, 1) 0%, hsla(66, 70%, 80%, 1) 50%, hsla(226, 67%, 76%, 1) 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.brand{
    font-family: 'Playfair Display SC', serif;;
    font-weight: 600;
    letter-spacing: 2px;
}

.items{
    font-family: 'Roboto', sans-serif;
    margin-left: 4px;
    letter-spacing: 1.5px;
}

.items:hover{
    color: white;
}

.items:after {
	content: '';
  position: relative;
  left: 0;
  display: flex;
  width: 100%;
  border-bottom: 1px solid;
   opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.items:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
    color: white;
}

.total-items{
 display: flex;
 margin: auto;
}

@media screen and (width: 600px) {
  .total-items{
   width: 100%;
  }
  }